In [3]:
import numpy as np
import pandas as ps

In [3]:
fil = open('data.txt', 'r')
data = fil.readlines()
fil.close()
data = [val.split(',') for val in data]
for val in data:

[['1', 'rosie', '1\n'],
 ['2', 'ellie', '1\n'],
 ['3', 'richard', '1\n'],
 ['4', 'leonard', '1\n'],
 ['5', 'Sonie', '1\n'],
 ['1', '1', '1\n']]